:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --section-color: #eff7fa;
  --yellow-color: #ffc400;
}
body {
  font-family: "Robot", sans-serif;
  height: 10000px;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
body {
  height: 1000px;
}
/* Start Nav-bar */
.mynavbar {
  background-color: var(--dark-color);
}

.brannd {
  color: white !important;
}
.brannd:focus {
  box-shadow: none !important;
}
.brannd.show {
}
.brannd.navbar-toggler.collapsed {
  border-color: white !important;
}
.brannd.navbar-toggler {
  border-color: var(--green-color) !important;
}
.mynavbrand {
  color: white !important;
}
.lien.active,
.lien:hover {
  color: var(--green-color) !important;
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search .search-icon {
  color: var(--green-color);
}
.login {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding: 12px 17px 12px 17px;

  font-size: 1rem;
}
/* start Landing section */
.landing {
  height: 100vh;
  background-color: var(--dark-color);
}
.landing a {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding-top: 15px;
  padding: 10px 47px 10px 47px;
  font-weight: bold;
  font-size: 1rem;
}
/* Start features section */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder i {
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder .number {
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}

/* Start work section */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: red;
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: red;
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 /76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  transform: translateX(-110%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}
.our-work .box:hover::before {
  transform: translateX(0%);
  transition: 0.25s;
}
.our-work a {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding-top: 15px;
  padding: 12px 17px 12px 17px;
  font-weight: bold;
  font-size: 1rem;
}
/* Start stuff */
.stuff .description {
  max-width: 500px;
}
.stuff a {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding-top: 15px;
  padding: 12px 17px 12px 17px;
  font-weight: bold;
  font-size: 1rem;
}
/* Start our team */
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.team .box h4 {
  background-color: var(--green-color);
}
/* start projects */
.project {
  background-color: var(--dark-color);
}
.project a {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding-top: 15px;
  padding: 12px 23px 12px 23px;
  font-weight: bold;
  font-size: 1rem;
}
/* start blog */
.blog a {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding-top: 15px;
  padding: 12px 23px 12px 23px;
  font-weight: bold;
  font-size: 1rem;
}
/* start subscribe */
.subscribe {
  background-color: var(--yellow-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe ::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
/* start footer */
.footer {
  background-color: var(--dark-color);
}
.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--yellow-color);
}
.footer ul svg {
  width: 20px;
  height: 20px;
}
.facebook {
  background-color: #1877f2;
}
.twitter {
  background-color: #1da1f2;
}
.linkedin {
  background-color: #0077b5;
}
.youtube {
  background-color: #ff0000;
}
.fnbtn {
  background-color: red !important;
  border-color: transparent !important;
  color: var(--yellow-color) !important;
  padding-top: 15px;
  padding: 10px 47px 10px 47px;
  font-weight: bold;
  font-size: 1rem;
}
